# Numbers

Hex(Integer) command is used to convert integers to hexadecimal numbers.

In [16]:
h = hex(12345)

In [4]:
h

'0x3039'

Similarly, the hex to integer conversion can be done by int(Hexvariable,16) command

In [17]:
hi = int(h,16)

In [6]:
hi

12345

# Strings

Strings can act like arrays and they can be called with [ ] brackets with their positions in them

In [18]:
s = 'Hello world'

In [19]:
s[1]

'e'

-1 position denotes the last character in the string, similarly the negative numbers continues to go on in the reverse order

In [30]:
s[-1]

'd'

In [31]:
s[-5]

'w'

: before the position in the [] means until that position  (e.g. [:1])

: after the position in the [] means from that position (e.g. [1:])

In [20]:
s[:2]

'He'

In [21]:
s[2:]

'llo world'

::n means the letters in multiples of nth positions are displayed

In [32]:
s[::2]

'Hlowrd'

Addition and multiplications are applicable to strings

In [33]:
s + " Hi there"

'Hello world Hi there'

In [36]:
s

'Hello world'

In [37]:
s * 2

'Hello worldHello world'

String functions (Functions always have parenthesis only)

In [38]:
s.upper()

'HELLO WORLD'

In [39]:
s.lower()

'hello world'

In [97]:
s = 'hello'

In [99]:
s.isalpha()

True

In [101]:
s.isdigit()

False

In [104]:
s.endswith('o')

True

Insertable string command with curly brackets {}

In [40]:
"Hi there my name is {}".format('Ramkumar')

'Hi there my name is Ramkumar'

In [42]:
list = ['Ram', 'Madhu']

In [44]:
for i in list:
    print "Hi there my name is {}".format(i)

Hi there my name is Ram
Hi there my name is Madhu

# Print Formatting

In [49]:
print 'the value of pi is : %1.2f' %(3.143856568)

the value of pi is : 3.14

In [50]:
print "my name is %s and i am %r  my wife's name is %s and she is %r" %("Ramkumar", 32, "Madhu", 27)

my name is Ramkumar and i am 32  my wife's name is Madhu and she is 27

# Lists

List is created with square brackets

List can have any type of values inside them

In [51]:
l = [1,2,3]

In [52]:
l = ['ram', 1, 2]

In [55]:
l[0]

'ram'

Some list functions ()

In [58]:
len(l)

3

In [59]:
l.reverse()

In [60]:
l

[2, 1, 'ram']

In [61]:
l.sort()

In [62]:
l.append('kumar')

In [63]:
l

[1, 2, 'ram', 'kumar']

In [66]:
l.pop()

'kumar'

In [67]:
l

[1, 2, 'ram']

Nested lists

In [68]:
nl = [1,2,3,[4,5,6]]

In [70]:
nl[3]

[4, 5, 6]

In [71]:
nl[3][1]

5

In [73]:
row1 = [1,2,3]
row2 = [4,5,6]
row3 = [7,8,9]

In [81]:
mtrx = [row1,row2,row3]

In [87]:
mtrx

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [95]:
col1 = [row[0] for row in mtrx]

In [96]:
col1

[1, 4, 7]

In [105]:
row1.count(2)

1

In [106]:
row1

[1, 2, 3]

In [108]:
row1.insert(3,4)

In [109]:
row1

[1, 2, 3, 4]

# Dictionaries

Dictionaries are lists with 1-to-1 key and item mapping 

Note they have curly brackets

But when querying, square brackets are used for keys like lists

In [125]:
dic = {'Guy':'Ram','Girl':{'Wife':'Madhu','Mom':'Chitra'}}

In [121]:
dic['Guy']

'Ram'

In [127]:
dic['Girl']['Wife']

'Madhu'

# Tuples

Tuples are immutable lists

Tuples are created with (parenthesis)

But querying will use [square brackets]

In [128]:
T = (1,2,3)

In [131]:
T[1]

2

In [132]:
T[1] = 56

TypeError: 'tuple' object does not support item assignment

# Files

In [135]:
pwd

u'C:\\Users\\ramrajagopalan\\Complete Python Bootcamp - Rough works'

In [136]:
fileobject = open('text.txt')

In [137]:
fileobject.read()

'My name is ramkumar\n\nwasssspp\n\nUnited vs totenham this sunday\n\nLeicester vs man city this saturday'

In [143]:
fileobject.seek(0)

In [144]:
fileobject.readlines()

['My name is ramkumar\n',
 '\n',
 'wasssspp\n',
 '\n',
 'United vs totenham this sunday\n',
 '\n',
 'Leicester vs man city this saturday']

In [145]:
for linevariable in open('text.txt'):
    print linevariable

My name is ramkumar



wasssspp



United vs totenham this sunday



Leicester vs man city this saturday

# Sets and Booleans

Sets are unique lists

Boolean is true false conditions

In [147]:
list = [1,2,3,4,5,1,2,3,4,5,5,6,7,87,8,8,8,8,]

In [148]:
set(list)

{1, 2, 3, 4, 5, 6, 7, 8, 87}

In [149]:
A = True
B = False

In [150]:
A

True

In [151]:
B

False

In [152]:
C = None

In [153]:
C

In [154]:
 1 > 2

False

In [4]:
l = [1,2,3,4,5]

In [8]:
13%3

1

In [11]:
l

[1, 2, 3, 4, 5]

In [18]:
for i in l:
    if i%2 == 0:
        print '{} is even'.format(i)
    else:
         print '{} is odd'.format(i)

1 is odd
2 is even
3 is odd
4 is even
5 is odd

# Python statements

All loops need to have a semicolon in the end

all the encompassed statements in the loop are indented

In [12]:
l = [1,2,3,4]

In [14]:
for i in l:
    print i

1
2
3
4

In [13]:
if len(l) == 3:
    print 'it has three values'
else:
    print 'it has {} values'.format(len(l))

it has 4 values

if elif & else statements

In [19]:
i = 2

In [20]:
if i == 1:
    print 'one'
elif i == 2:
    print 'two'
else:
    print 'three'

two

For loops

In [21]:
l = [1,2,3,4,5]

In [23]:
sum = 0

for i in l:
    sum += i

print sum

15

In [24]:
name = 'ramkumar'

In [25]:
for i in name:
    print i

r
a
m
k
u
m
a
r

In [26]:
tup = [(1,2),(3,4),(4,5)]

In [27]:
for t1,t2 in tup:
    print t1

1
3
4

In [29]:
dict = {'k1':'ram','k2':'kumar','k3':'Madhu'}

In [30]:
for i in dict.iterkeys():
    print i

k3
k2
k1

While loops

In [32]:
i = 0

In [35]:
while i <= 3:
    print i
    i += 1

0
1
2
3

Break and continue commands in loops

In [36]:
i = 0

In [37]:
while i < 3:
    if i%2 == 0:
        print '{} is even number'.format(i)
        break
    else:
        print '{} is odd number'.format(i)
        continue

2 is even number

Range

In [47]:
range(0,10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
x = range(0,10)

In [49]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

XRANGE is dynamic and doesnt occupy RAM space

In [53]:
x = xrange(0,10)

In [54]:
x

xrange(10)

In [55]:
start = 5
stop = 10

In [56]:
x = xrange(start,stop)

In [57]:
x

xrange(5, 10)

In [58]:
for i in x:
    print i

5
6
7
8
9

# List Comprehensions

List comprehensions help us create computed lists. see the examples below

!!! Please note :  square brackets are used for this, as this function works just like a list

!!! Please note :  no brackets are required when calling a created list variable

In [8]:
l = [1,2,3,4,5]

In [3]:
lc = [x**2 for x in l]

In [4]:
lc

[1, 4, 9, 16, 25]

Even if conditions are possible

In [5]:
l = [1,2,3,4,5,6,7,8,9]

In [6]:
leven = [x for x in l if x%2 == 0]

In [7]:
leven

[2, 4, 6, 8]